<h1>Welcome to Someone's Library of Books that Someone Will Read</h1>

<h2>What Would You like to view?</h2>

<a href='/books' >Browse by Books<a>
<br>
<a href='/authors'>Browse by Authors<a>
<br>
<a href='/patrons' >View Accounts<a>
