<h1>Add a new account</h1>

<form action="/patrons" method="post">
  <div class="form-group">
    <label for="patron_name">Account Holders Name</label>
    <input type="text" name="patron_name" class="form-control">

    <label for="patron_phone">Account Holders Phone</label>
    <input type="text" name="patron_phone" class="form-control">
  </div>
  <button type="submit" class="btn">Add account</button>
</form>

<br>
<a href="/patrons">Cancel</a>
