<h1>Add a new author</h1>

<form action="/authors" method="post">
  <div class="form-group">
    <label for="author_name">Author Name</label>
    <input type="text" name="author_name" class="form-control">
  </div>
  <button type="submit" class="btn">Add Author</button>
</form>
