<h1>Add a new book</h1>

<form action="/books" method="post">
  <div class="form-group">
    <label for="book_title">Book Title</label>
    <input type="text" name="book_title" class="form-control">
  </div>
  <button type="submit" class="btn">Add Book</button>
</form>

<a href="/books">Cancel</a>
